* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFE0;
	color: black;
	font-size: 20px;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.header {
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
}

.card {
	background-color: #FFC0CB;
	padding: 15px 35px;
	border-radius: 15px;
	margin-bottom: 20px;
}

.img {
	width: 300px;
	border-radius: 15px;
}
